{% for order in orders %}
    <tr>
        <td># {{ order.id }}</td>
        <td>{{ order.idFournisseur.nom }}</td>
        <td>$ {{ order.categorie }}</td>
        <td><span class="label label-info">Being prepared</span>
        </td>
        <td><a href="{{path('customer_order', { 'id' : order.id })}}" class="btn btn-primary btn-sm">View</a>
        </td>
    </tr>
{% endfor %}
