
<form method ="POST" action="">
    nom <input type="text" name="nom" /><br>
    prenom <input type="text" name="prenom" /><br>
    age <input type="number" name="age" /><br>
  
    Sexe: <INPUT type= "radio" name="genre" value="Feminin"> F
    <INPUT type= "radio" name="genre" value="Masculin"> M <br>
    
    adresse <input type="text" name="adresse" /><br>
    
    Vous Etes: <INPUT type= "radio" name="type" value="Fournisseur"> Fournisseur
    <INPUT type= "radio" name="type" value="Consommateur"> Consommateur
    <INPUT type= "radio" name="type" value="membre"> Simple Membre<br>
   
    <input type="text" name="email" placeholder="Entrez votre mail" /><br>
    <input type="text" name="login" placeholder="Entrez votre login" /><br>
    <input type="password" name="password" placeholder="Entrez votre password"/><br>
    <input type="submit" value="Ajouter" /><br>
</form>